In [ ]:
#Tuple
# -indexing
# -multiple and duplicate  value
# -ordered
# -imutable

In [1]:
a = (1,2,3,4)
print(type(a))s

<class 'tuple'>

In [2]:
a = ("Apple",) #necessary to write comma , at the end
print(type(a))

<class 'tuple'>

In [3]:
a = 1,2,3,4
print(a)

(1, 2, 3, 4)

In [4]:
a = (1,2,3,4)
print(a[0])
print(a[0:3])
print(a[0:3:2])

1
(1, 2, 3)
(1, 3)

In [2]:
#in tuple we cannot create,update,delete
t = tuple()
c = int(input("enter c = "))
for i in range(c):
    x = input("enter x = ") #x=string
    t = t + (x,)
print(t)

enter c = 2
enter x = 11
enter x = 12
('11', '12')

In [ ]:
# max() min() sum() sorted()

In [3]:
a = (234,45,78,30,22,1) 
print(sorted(a))
print(a)

[1, 22, 30, 45, 78, 234]
(234, 45, 78, 30, 22, 1)

In [4]:
a = (234,45,78,30,22,1) 
b = list(a)
a

(234, 45, 78, 30, 22, 1)

In [5]:
a = (234,45,78,30,22,1) 
a = list(a)
del a[0]
a = tuple(a)
a

(45, 78, 30, 22, 1)