In [ ]:
# file = open('<file_name>','<mode>')   # file=object
# file.close()
 
# with open('<file_name>','<mode>') as file:
#     <operation>

In [1]:
try:                 #kunai code lai test garna try bhitra rakhincha
file = open('data.txt','x')   #x = creating file
file.close()
except:              #if error occur in try except is done then exception catch garcha
    print("The file is already created")

In [ ]:
#mode
# r -> read
# w -> write
# a ->append
# x ->create

In [8]:
with open ('data.txt','r') as file:
    print(file.read())

1.Hello Rojina
2.Hello Rojina
3.Hello Rojina
4.Hello Rojina
5.Hello Rojina
6.Hello Rojina

In [7]:
file = open('data.txt','r')
print(file.read())
file.close()

1.Hello Rojina
2.Hello Rojina
3.Hello Rojina
4.Hello Rojina
5.Hello Rojina
6.Hello Rojina

In [9]:
file = open('data.txt','r')
x = (file.read())
print(x)
print(type(x))
file.close()

1.Hello Rojina
2.Hello Rojina
3.Hello Rojina
4.Hello Rojina
5.Hello Rojina
6.Hello Rojina

<class 'str'>

In [10]:
lists = x.split('\n')
lists

['1.Hello Rojina',
 '2.Hello Rojina',
 '3.Hello Rojina',
 '4.Hello Rojina',
 '5.Hello Rojina',
 '6.Hello Rojina',
 '']

In [13]:
line_no = int(input("enter line no = "))
lists[line_no-1]

enter line no = 2

'2.Hello Rojina'

In [1]:
file = open('data.txt','w')
file.write("6.Hello Rojina")
file.close()

In [2]:
file = open('data.txt','a')
file.write("\n7.Hello Rojina")
file.close()

In [3]:
bill = str()
grand_total = 0
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    price = int(input("enter price = "))
    quantity = int(input("enter quantity = "))
    total = price*quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    grand_total = grand_total + total
print(bill)
print("The grand total with vat 13%",grand_total*1.13)

file = open('bill.txt','w')      #direct create bhayera basxa file 
file.write(bill)
file.close()

enter n = 2
enter name = momo
enter price = 100
enter quantity = 2
enter name = coke
enter price = 80
enter quantity = 2
momo 100 2 200
coke 80 2 160

The grand total with vat 13% 406.79999999999995

In [4]:
bill = str()
grand_total = 0
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    price = int(input("enter price = "))
    quantity = int(input("enter quantity = "))
    total = price*quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    grand_total = grand_total + total
print(bill)
print("The grand total with vat 13%",grand_total*1.13)

file = open('bill.txt','a')      #direct create bhayera basxa file 
file.write(bill)
file.close()

enter n = 2
enter name = cake
enter price = 40
enter quantity = 2
enter name = coffee
enter price = 50
enter quantity = 2
cake 40 2 80
coffee 50 2 100

The grand total with vat 13% 203.39999999999998

In [5]:
file = open('bill.txt','r')
x = (file.read())
print(x)
print(type(x))
file.close()

momo 100 2 200
coke 80 2 160
cake 40 2 80
coffee 50 2 100

<class 'str'>

In [6]:
data = x.split('\n')
data

['momo 100 2 200', 'coke 80 2 160', 'cake 40 2 80', 'coffee 50 2 100', '']

In [7]:
data = x.split('\n')[0:-1]
data

['momo 100 2 200', 'coke 80 2 160', 'cake 40 2 80', 'coffee 50 2 100']

In [8]:
for i in data:
    print(i.split())

['momo', '100', '2', '200']
['coke', '80', '2', '160']
['cake', '40', '2', '80']
['coffee', '50', '2', '100']

In [11]:
#To convert string to integer
bill_list = []
for i in data:
    name = i.split()[0]
    price = int(i.split()[1])
    quantity = int(i.split()[2])
    total = int(i.split()[3])
    final_list = [name,price,quantity,total]
    bill_list.append(final_list)

bill_list

[['momo', 100, 2, 200],
 ['coke', 80, 2, 160],
 ['cake', 40, 2, 80],
 ['coffee', 50, 2, 100]]

In [12]:
# For CSV (Comma Separated Value)     to handle large column,row
file = open('bill.csv','w')  
bill = str()
grand_total = 0
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    price = int(input("enter price = "))
    quantity = int(input("enter quantity = "))
    total = price*quantity
    bill = bill + f"{name},{price},{quantity},{total}\n"
    grand_total = grand_total + total
print(bill)
print("The grand total with vat 13%",grand_total*1.13)

file.write('Name,Price,Quantity,Total)     #direct create bhayera basxa file 
file.write(bill)
file.close()

enter n = 2
enter name = momo
enter price = 200
enter quantity = 2
enter name = coke
enter price = 200
enter quantity = 2
momo,200,2,400
coke,200,2,400

The grand total with vat 13% 903.9999999999999

In [ ]:
pwd

In [ ]:
import pandas as pd
df = pd.read_csv('bill_csv')
df