In [ ]:
#loop
#for loop
#while loop

In [ ]:
#for loop
#range(5)          (0,1,2,3,4) for(i=0; i<5; i++)
#range(1,5)        (1,2,3,4) for (i=1; i<5; i++)
#range(1,5,2)      (1,3)  for (i=1; i<5; i=i+2)

In [1]:
for i in range(5):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [2]:
for i in range(1,5):
    print("hello world")

hello world
hello world
hello world
hello world

In [3]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [4]:
for i in range(1,5,2):
    print("hello world")

hello world
hello world

In [5]:
for i in range(1,5,2):
    print(i,"hello world")

1 hello world
3 hello world

In [6]:
n = 5
for i in range(1,11):
    print(n*i)

5
10
15
20
25
30
35
40
45
50

In [8]:
n = 10
for i in range(1,11,2):
    print(n*i)

10
30
50
70
90

In [9]:
n = int(input("enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter n = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [10]:
n = int(input("enter n = "))
for i in range(1,5):
    print(n+i)

enter n = 2
3
4
5
6