#for loop

In [1]:
c = int(input("enter c = "))
for i in range(c):
    n = int(input("enter n = "))

enter c = 2
enter n = 43
enter n = 44

In [2]:
s = 0
c = int(input("enter c = "))
for i in range(c):
    n = int(input("enter money = "))
    s = s+n
    print(s)

enter c = 2
enter money = 20
20
enter money = 20
40

In [4]:
s = 0
c = int(input("enter c = "))
for i in range(c):
    n = int(input("enter money = "))
    s = s+n
print(s)

enter c = 2
enter money = 20
enter money = 20
40

In [7]:
s = str()
c = int(input("enter c = "))
for i in range(c):
    n = input("enter name = ")
    s = s + n 
print(s)

enter c = 2
enter name = roji
enter name = lama
rojilama

In [8]:
s = str()
c = int(input("enter c = "))
for i in range(c):
    n = input("enter name = ")
    s = s + n + "\n"
print(s)

enter c = 2
enter name = roji
enter name = lama
roji
lama

In [13]:
s = str()
c = int(input("enter c = "))
for i in range(c):
    name = input("enter name = ")
    age = input("enter age = ")
    phone = input("enter phone = ")
    s = s + name + " " + age + " " + phone + "\n"
print(s)

enter c = 2
enter name = roji
enter age = 24
enter phone = 9821888560
enter name = paras
enter age = 24
enter phone = 9845120250
roji 24 9821888560
paras 24 9845120250

In [15]:
#4! = 1*2*3*4
s = 2
c = int(input("enter c = "))
for i in range(1,c+1):
    print(s*i)

enter c = 5
2
4
6
8
10

In [17]:
#4! = 1*2*3*4
s = 1
c = int(input("enter c = "))
for i in range(1,c+1):
    s=s*i
print(s)

enter c = 5
120

In [1]:
#WAP to calculate the sum of the numbers from n1 to n2

s = 0
n1 = int(input("enter n1 = "))
n2 = int(input("enter n2 = "))
for i in range(n1,n2+1):
    s = s+i
print(s)

enter n1 = 1
enter n2 = 10
55

In [2]:
#WAP to calculate the multipication of the numbers from n1 to n2

s = 1
n1 = int(input("enter n1 = "))
n2 = int(input("enter n2 = "))
for i in range(n1,n2+1):
    s = s*i
print(s)

enter n1 = 1
enter n2 = 3
6