In [ ]:
#python collection
#-List
#-Tuple
#-Dictionary
#-Set

In [2]:
a = list()
b = ['Apple','Ball','Cat','Dog','Egg']
c = [1,2,3,4,5,6,7]
d = [1,2,3,'apple','ball','1.3']
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
#list
#-indexing
#-multiple and duplicate value
#-ordered
#-mutable

In [9]:
a =['Apple','Ball','Cat','Dog','Elephant']
print(a[0])
print(a[1])
print(a[0:4])
print(a[0:5:2])

Apple
Ball
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Elephant']

In [10]:
a = ['Apple','Ball','Cat','Dog','Egg','Apple']
print(type(a[0]))

<class 'str'>

In [11]:
a = list('Apple')
print(a)

['A', 'p', 'p', 'l', 'e']

In [12]:
a = ['Ball','Apple','Cat','Dog','Egg']
print(a)

['Ball', 'Apple', 'Cat', 'Dog', 'Egg']

In [13]:
# + *
a = [1,2,3,4,5,6]
b = ['Apple','Ball','Cat']
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat']

In [14]:
a = [1,2,3,4,5,6]
print(a*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [15]:
a = ['Ball','Apple','Cat','Dog','Egg']
for i in a:
    print(i)

Ball
Apple
Cat
Dog
Egg

In [16]:
l = list()
c = int(input("enter c = "))
for i in range(c):
    x = int(input("enter x = "))
    l = l+[x]
print(l)

enter c = 5
enter x = 11
enter x = 2
enter x = 12
enter x = 32
enter x = 11
[11, 2, 12, 32, 11]

In [19]:
print("The max value = ",max(l))
print("The min value = ",min(l))
print("The sum value = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

The max value =  32
The min value =  2
The sum value =  68
[2, 11, 11, 12, 32]
[32, 12, 11, 11, 2]

In [20]:
a = ['zebra','apple','cat','zebra','ant']
a.sort()
print(a)

['ant', 'apple', 'cat', 'zebra', 'zebra']

In [ ]:
#append() #insert() #extend()

In [21]:
a = []
a.append('Apple')
a.append('Ball')
print(a)

['Apple', 'Ball']

In [1]:
l = []
c = int(input("enter c = "))
for i in range(c):
    x = input("enter x = ")
    l.append(x)
print(l)

enter c = 2
enter x = 11
enter x = 12
['11', '12']

In [3]:
a =['ant','apple','cat','dog','elephant']
a.insert(2,'Apple')
print(a)

['ant', 'apple', 'Apple', 'cat', 'dog', 'elephant']

In [5]:
a = ['ant','Apple','apple','cat','dog','zebra']
b = [1,2,3,4,5]
a.extend(b)
print(a)

['ant', 'Apple', 'apple', 'cat', 'dog', 'zebra', 1, 2, 3, 4, 5]

In [ ]:
#update

In [8]:
a = ['ant','Apple','apple','cat','zebra','zebra']
a[0] = 'Ant'
print(a)

['Ant', 'Apple', 'apple', 'cat', 'zebra', 'zebra']

In [ ]:
#del remove() pop()

In [10]:
a = ['ant','Apple','apple','cat','zebra','dog']
del a[0:5]
print(a)

['dog']

In [ ]:
#remove

In [12]:
a = ['ant','apple','cat','dog','ball','tiger']
a.remove('apple')
print(a)

['ant', 'cat', 'dog', 'ball', 'tiger']

In [16]:
a = ['ant','tiger','cat','dog','lion']
name = input("enter name = ")
c = a.count(name)
for i in range(c):
    a.remove(name)

print(a)

enter name = ant
['tiger', 'cat', 'dog', 'lion']

In [3]:
b = ['lovely','cute','beautiful','gorgeous']
name = input("enter name =  ")
c = b.count(name)
for i in range(c):
    b.remove(name)
    
print(b)

enter name =  lovely
['cute', 'beautiful', 'gorgeous']

In [5]:
a = ['ant','apple','ball','cat','dog','ant']
a.index('apple')

1

In [9]:
a =['ant','apple','apple','Apple','cat','dog']
for i in range(len(a)):
    if a[i] == 'apple':
        print(i)

1
2

In [10]:
a = [1,2,3]
a*2

[1, 2, 3, 1, 2, 3]

In [1]:
a = ['ant','Apple','apple','cat']
a[1][1]

'p'

In [ ]:
#List inside List

In [5]:
a=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[1,1,2,3]]
print(len(a))
print(a[2])
print(a[1][0])

4
[9, 10, 11, 12]
5

In [6]:
a = [['Ram',34,'kathmandu'],
    ['shyam',23,'pokhara'],
    ['hari',35,'chitwan']]
print(a)

[['Ram', 34, 'kathmandu'], ['shyam', 23, 'pokhara'], ['hari', 35, 'chitwan']]

In [7]:
data =[]
c = int(input("enter c = "))
for i in range(c):
    name = input("enter name = ")
    age = int(input("enter age = "))
    add = input("enter add = ")
    data.append([name,age,add])
data

enter c = 2
enter name = roji
enter age = 23
enter add = kathmandu
enter name = riya
enter age = 19
enter add = chitwan

[['roji', 23, 'kathmandu'], ['riya', 19, 'chitwan']]

In [ ]:
#update

In [8]:
a = [['Ram',45,'kathmandu'],['shyam',20,'Bhaktapur']]
a[0] = ['Rama',55,'chitwan']
print(a)

[['Rama', 55, 'chitwan'], ['shyam', 20, 'Bhaktapur']]

In [9]:
a= [['riya',55,'nepal'],['siya',66,'USA']]
a[1] = ['roji',24,'europe']
print(a)

[['riya', 55, 'nepal'], ['roji', 24, 'europe']]

In [11]:
a = [['riya',56,'chitwan'],['siya',44,'lalitpur']]
a[0][0] = 'roji'
print(a)

[['roji', 56, 'chitwan'], ['siya', 44, 'lalitpur']]

In [ ]:
#Delete

In [12]:
a = [['Ram',34,'kathmandu'],['Hari',23,'chitwan']]
del a[0]
print(a)

[['Hari', 23, 'chitwan']]

In [13]:
a = [['Ram',33,'chitwan'],['Hari',77,'lalitpur']]
del a[0][2]
print(a)

[['Ram', 33], ['Hari', 77, 'lalitpur']]

In [ ]:
#pop

In [14]:
a = [['Ram',45,'kathmandu'],['shyam',80,'chitwan']]
b = a.pop(0)
print(a)
print(b)

[['shyam', 80, 'chitwan']]
['Ram', 45, 'kathmandu']

In [15]:
a = [['Ram',45,'kathmandu'],['Shyam',90,'bhaktapur']]
b = a[0].pop(1)
print(a)
print(b)

[['Ram', 'kathmandu'], ['Shyam', 90, 'bhaktapur']]
45

In [16]:
a = [['Ram',45,'kathmandu'],['shyam',90,'chitwan']]
a[0].append(98076544)
a[1].append(98876587)
print(a)

[['Ram', 45, 'kathmandu', 98076544], ['shyam', 90, 'chitwan', 98876587]]

In [19]:
a = [['Ram',45,'kathmandu'],['shyam',33,'bhaktapur'],['akash',33,'jhapa']]
name = input("enter name = ")
for i in a:
    if name in i:
        print(i)

enter name = Ram
['Ram', 45, 'kathmandu']

In [21]:
a =[['Ram',45,'kathmandu'],['shyam',33,'chitwan']]
name = input("enter name = ")
for i in a:
    if name.lower() == i[0].lower():
        print(i)

enter name = ram
['Ram', 45, 'kathmandu']

In [ ]:
a = [['Ram',99,'kathmandu'],['shyam',33,'chitwan']]
name = input("enter name = ")
for i in range(len(a)):
    if a[i][0] ==  name:
        print(i)